<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="printReportDAOImpl" parent="springJdbcDs" class="com.jujie.global.dao.PrintReportDAOImpl" />
	
	<bean id="printReportServer" class="com.jujie.global.server.PrintReportServer" >
		<property name="printReportDAOImpl" ref="printReportDAOImpl"></property>
	</bean>
	

</beans>